#modify-task-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
}

#modify-task-form div{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#modify-task-form textarea{
    height: 100px;
}

#modify-task-form .modify-task-priority-container{
    flex-direction: row;
}