*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.app-container{
    background-color: lightblue;
    min-width: 800px;
    width: 80vw;
    height: 80vh;
    border-radius: 1em;
    display: grid;
    grid-template-columns: minmax(200px, .20fr) minmax(min-content, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "sidebar topbar"
        "sidebar main";
}

.sidebar{
    grid-area: sidebar;
    background-color: lightgoldenrodyellow;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 1em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 1.1em;
}



.page-buttons,
.project-buttons {
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding-top: .5em
}

.sidebar-header {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
        font-size: 1.5em;
    }

}

.page-buttons,
.project-buttons {
    padding-left: 1em;
}

.sidebar button:hover {
    font-weight: bold;
}

.projects {
    overflow-y: auto;
    margin-bottom: 1em;
}

.add-new-project svg {
    width: 1em;
    height: 1em;
}

.add-new-project:hover svg {
    fill: gray;
}

.project-button-container {
    display: flex;
    justify-content: space-between;
}

.delete-button svg {
    width: 1.1em;
    height: 1.1em;
}

.delete-button:hover svg {
    fill: gray;
}



.add-new-task{
    margin-top: auto;
}

.topbar{
    grid-area: topbar;
    padding: 1em;
}

.sort-buttons{
    display: flex;
    justify-content: space-around;
    padding-top: 15px;
}

.sort-button{
    border: 1px solid black;
    padding: 5px 15px;
    border-radius: 1em;
    background-color: lightgoldenrodyellow;
}

.sort-method {
    display: flex;
    gap: 5px;
    align-items: center;
}

.sort-method svg {
    width: 1.2em;
    height: 1.2em;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 15px;
}

.task-card {
    background-color: lightgray;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;

    & .task-card-top-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
    }

    & .task-project {
        padding-left: 5px;
    }

    & .task-due-date {
        padding-bottom: 1em;
        padding-left: 1em;
    }

    & .task-description {
        padding-left: 1.5em;
        padding-bottom: 1em;
    }

    & .task-card-bottom-row {
        display: flex;
        justify-content: space-between;

        & .task-complete-label {
            display: flex;
            align-items: center;
            gap: 5px;
        }

        & button svg {
            height: 1.2em;
            width: 1.2em;
        }

        & button:hover svg {
            fill: gray;
        }
    }
}

.high-priority .task-priority {
    color: red;
}

.medium-priority .task-priority {
    color: orange;
}

.low-priority .task-priority {
    color: green;
}

.overdue-task .task-due-date {
    color: red;
}

.modals {
    display: none;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding-top: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  .modal-content {
    width: 500px;
    overflow: auto;
    background-color: white;
    border: 1px solid black;
    border-radius: .5em;
    padding-bottom: 15px;
    display: flex;
    flex-direction: column;
  }

  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 15px;
    background-color: lightgray;
    margin-bottom: 25px;
    user-select: none;
  }

  .close-modal {
    font-size: 1.1em;
  }

  #modify-task-form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
  }

  #modify-task-form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #modify-task-form textarea {
    height: 100px;
  }

  #modify-task-form .modify-task-priority-container,
  #new-task-form .new-task-priority-container {
    flex-direction: row;
    gap: 20px;
  }

.priority-radio {
    font-weight: bold;
}

  .low-priority-radio {
    color:green;
  }

  .medium-priority-radio {
    color: orange;
  }

  .high-priority-radio {
    color: red;
  }

#modify-task-form .form-buttons,
#new-task-form .form-buttons {
    justify-content: space-around;
    flex-direction: row;
}


.form-buttons button {
    border: 1px solid black;
    border-radius: .5em;
    padding: 5px 15px;
}

.form-buttons button:hover {
    background-color: lightgray;
}

.no-available-tasks {
    font-weight: bold;
    margin: 1em;
    padding: 1em;
    background-color: lightgray;
    border-radius: 1em;
}

#new-task-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
}

#new-task-form div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#new-task-form textarea {
    height: 100px;
}

#add-project-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 15px;
    align-items: center;
}

.complete-task {
    text-decoration: line-through;
    color: gray;
    & button svg {
        fill: gray;
    }
}