*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 7fr;
    background-color: red;
}

#new-task-modal-template{
    display:none;
}

#new-task-modal{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 80%;
    width: 80%;
    overflow: auto;
    background-color: white;
    margin: 35px;
    border: 1px solid black;
    padding: 25px;
}