*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{

}

body{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

.app-container{
    background-color: lightblue;
    min-width: 800px;
    width: 80vw;
    height: 80vh;
    border-radius: 1em;
    display: grid;
    grid-template-columns: minmax(200px, .20fr) minmax(min-content, 1fr);
    grid-template-rows: min-content 1fr;
    grid-template-areas: 
        "sidebar topbar"
        "sidebar main";
}

.sidebar{
    grid-area: sidebar;
    background-color: lightgoldenrodyellow;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 1em;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    height: 100%;
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    text-align: left;
    font-size: 1.1em;
}

button:hover img {
    filter:invert(.2)
}

.page-buttons,
.project-buttons {
    display: flex;
    flex-direction: column;
    gap: .25em;
    padding-top: .5em
}

.sidebar-header {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
        font-size: 1.5em;
    }

}

.page-buttons,
.project-buttons {
    padding-left: 1em;
}

.sidebar button:hover {
    font-weight: bold;
}

.projects {
    overflow-y: auto;
    margin-bottom: 1em;
}

.add-new-project img {
    width: 1em;
    height: 1em;
}

.project-button-container {
    display: flex;
    justify-content: space-between;
}

.delete-button img {
    width: 1.1em;
    height: 1.1em;
}



.add-new-task{
    margin-top: auto;
}

.topbar{
    grid-area: topbar;
    padding: 1em;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.task-card {
    background-color: lightgray;
    margin: 1em;
    border-radius: 1em;
    padding: 1em;

    & .task-card-top-row {
        display: flex;
        justify-content: space-between;
        padding-bottom: 1em;
    }

    & .task-due-date {
        padding-bottom: 1em;
        padding-left: 1em;
    }

    & .task-description {
        padding-left: 1.5em;
        padding-bottom: 1em;
    }

    & .task-card-bottom-row {
        display: flex;
        justify-content: space-between;

        & .task-complete-label {
            display: flex;
            align-items: center;
            gap: 5px;
        }
    }
}